body{
  margin: 10px;
  color: #17202A;
  background-image: url('/static/img/bk.svg');
}


.auto-link
{
    width:100%;
	height: auto;
}
.child
{
	height: 100px;
	display: inline-block;
	width: auto;
	float: right;
	margin-right:25px;
}