body{
  margin: 10px;
  color: #17202A;
  background-image: url('/static/img/bk.svg');
}

div.form
{
    display: block;
    text-align: center;
    margin-top:20%;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.reg-user{
 color: red;
}

.auto-link
{
    width:100%;
	height: auto;
}
.child
{
	height: 100px;
	display: inline-block;
	width: auto;
	float: right;
	margin-right:25px;
}