<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
 <!-- <img src="{% static 'img/06.png'%}" alt="">

    <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
         src="{% static 'img/06.png'%}" >-->

<div class="error">404</div>
<br /><br />
<span class="info">File not found</span>
<img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />

</body>
</html>