{% extends 'base.html' %}

{% block title %}Урок №{{num}}{% endblock %}
{% include data_template %}
{% block content %}
<!-- <div>Hi {{num}} {{id}} {{name}} {{isres}}</div> -->

<div class="div-state-res">
<div class="flex-item">
    {% if num != 1 %}
    <a href="{% url 'old_lessons' idlesson=num iduser=id namep=name %}" class="child">Предыдущий  урок</a>
    {% endif %}
</div>
<div class="flex-item-p">
    {% if isres == 1 %}
    <p>Вы отлично справились с заданием можно перейти к следующему уроку</p>
    {% elif isres == 2 %}
    <p>К сожалению есть неверные ответы, изучите материал и в следующий раз у вас все получится</p>
    {% endif %}
</div>
<div class="flex-item">
    {% if isres == 1 %}
    <a href="{% url 'new_lessons' idlesson=num iduser=id namep=name isres=0 %}" class="child">Сдедующий урок</a>
    {% endif %}
</div>
</div>


<div class="container d-flex align-items-center justify-content-center">
<h1>Урок 1. Введение.</h1>
</div>
<div class="container d-flex align-items-center justify-content-center">
 <p  class="abz">Время прочтения: 4 минуты </p>
</div>
 <div class="block1" align="justify" >
  <p class="abz">Python (в русском языке встречаются названия питон или пайтон) — высокоуровневый язык программирования общего
  назначения с динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности
  разработчика, читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ. Язык является полностью
  объектно-ориентированным в том плане, что всё является объектами.</p>
  <p class="abz">Язык программирования Python был создан к 1991 году голландцем Гвидо ван Россумом.Свое имя – Пайтон (или Питон) – получил от названия
  телесериала, а не пресмыкающегося. После того, как Россум разработал язык, он выложил его в Интернет, где сообщество программистов присоединилось
  к его улучшению. Python активно развивается и сейчас. Часто выходят новые версии. Еще недавно поддерживались две отдельные ветки языка: Python 2.x и
  Python 3.x. Здесь английской буквой "x" обозначается конкретный релиз. Между вторым и третьим Питоном есть небольшая разница. В настоящее время поддержка
  Python 2 прекращена.</p>
  <p  class="abz">Python - очень простой язык программирования, он имеет лаконичный и в то же время довольно простой и понятный синтаксис. Соответственно его легко изучать,
  и собственно это одна из причин, по которой он является одним из самых популярных языков программирования именно для обучения. В частности, в 2014 году он был
  признан самым популярным языком программирования для обучения в США.</p>
  <p  class="abz">Python также популярен не только в сфере обучения, но в написании конкретных программ в том числе коммерческого характера. В немалой степени поэтому для
  этого языка написано множество библиотек, которые мы можем использовать.</p>
  <p  class="abz">Python – интерпретируемый язык программирования. Это значит, что исходный код частями преобразуется в машинный в процессе его чтения специальной программой –
  интерпретатором. </p>
  <p  class="abz">Python характеризуется ясным синтаксисом. Читать код на нем легче, чем на других языках программирования, так как в Питоне мало используются такие
  вспомогательные синтаксические элементы как скобки, точки с запятыми. С другой стороны, правила языка заставляют программистов делать отступы для
  обозначения вложенных конструкций. Понятно, что хорошо оформленный текст с малым количеством отвлекающих элементов читать и понимать легче.</p>
  <p  class="abz">Пожалуй, самый простой способ запускать программы на языке Python - это вводить инструкции непосредственно в командной строке интерпретатора,
  которая иногда называется интерактивной оболочкой. Запустить эту командную строку можно разными способами - в интегрированной среде разработки,
  в системной консоли и так далее. Предположим, что интерпретатор установлен в вашей системе как выполняемая программа, тогда самый универсальный
  способ запустить интерактивный сеанс работы с интерпретатором заключается в том, чтобы ввести команду python без аргументов в командной строке
  вашей операционной системы.  </p>
  <p  class="abz">Несмотря на удобства интерактивного режима, чаще всего необходимо сохранить исходный программный код для последующего выполнения и использования.
  В таком случае подготавливаются файлы, которые передаются затем интерпретатору на исполнение. Файлы с кодом на Python обычно имеют расширение .py.
  Существует множество сред разработки (IDE), в том числе созданные для программирования почти исключительно на Python. Примером такой среды является PyCharm.</p>
  <p  class="abz">Вопросы</p>
<form method="post">
   <span class="quesion_n">1.В каком году был создан язык программирования Python?</span>
   <ul>
   <li><input type="radio" name="test[1]" value="0" id="test_1_0_1" onclick="updateButtonState(this)"/> <label for="test_1_0_1">1991 год</label></li>
   <li><input type="radio" name="test[1]" value="1" id="test_1_1_1" onclick="updateButtonState(this)"/> <label for="test_1_1_1">1995 год</label></li>
   <li><input type="radio" name="test[1]" value="2" id="test_1_2_1" onclick="updateButtonState(this)"/> <label for="test_1_2_1">1988 год</label></li>
   </ul>
<span class="quesion_n">2.Python является…</span>
<ul>
<li><input type="radio" name="test[2]" value="0" id="test_1_0_2" onclick="updateButtonState(this)"/> <label for="test_1_0_2">структурным языком программирования</label></li>
<li><input type="radio" name="test[2]" value="1" id="test_1_1_2" onclick="updateButtonState(this)"/> <label for="test_1_1_2">объектно-ориентированном языком программирвоания</label></li>
<li><input type="radio" name="test[2]" value="2" id="test_1_2_2" onclick="updateButtonState(this)"/> <label for="test_1_2_2">процедурным языком программирования </label></li>
</ul>
<span class="quesion_n">3.Что значит интерпретируемый язык программирования?</span>
<ul>
<li><input type="radio" name="test[3]" value="0" id="test_1_0_3" onclick="updateButtonState(this)"/> <label for="test_1_0_3">Интерпретируемый язык - язык, исходный код которого преобразуется компилятором в машинный код и записывается в файл с особым заголовком и/или расширением для последующей идентификации этого файла, как исполняемого операционной системой. </label></li>
<li><input type="radio" name="test[3]" value="1" id="test_1_1_3" onclick="updateButtonState(this)"/> <label for="test_1_1_3">Интерпретируемый язык -язык, исходный код которого  частями преобразуется в машинный в процессе его чтения специальной программой – интерпретатором.</label></li>
<li><input type="radio" name="test[3]" value="2" id="test_1_2_3" onclick="updateButtonState(this)"/> <label for="test_1_2_3">Интерпретируемый язык — язык программирования, близкий к программированию непосредственно в машинных кодах используемого реального или виртуального процессора. </label></li>
</ul>
<span class="quesion_n">4.Что характерно для языка программирования Python?</span>
<ul>
<li><input type="radio" name="test[4]" value="0" id="test_1_0_4" onclick="updateButtonState(this)"/> <label for="test_1_0_4">Большое количество библиотек </label></li>
<li><input type="radio" name="test[4]" value="1" id="test_1_1_4" onclick="updateButtonState(this)"/> <label for="test_1_1_4">Декларативный язык программирования</label></li>
<li><input type="radio" name="test[4]" value="2" id="test_1_2_4" onclick="updateButtonState(this)"/> <label for="test_1_2_4">Среда разработки - Visual Studio
 </label></li>
</ul>
<span class="quesion_n">5.Выберете верное утверждение:</span>
<ul>
<li><input type="radio" name="test[5]" value="0" id="test_1_0_5" onclick="updateButtonState(this)"/> <label for="test_1_0_5">Динамическая типизация. В python не надо заранее объявлять тип переменной, что очень удобно при разработке </label></li>
<li><input type="radio" name="test[5]" value="1" id="test_1_1_5" onclick="updateButtonState(this)"/> <label for="test_1_1_5">Идея создания языка Python зародилась в 1998 году и проект изначально назывался COOL (C-style Object Oriented Language)</label></li>
<li><input type="radio" name="test[5]" value="2" id="test_1_2_5" onclick="updateButtonState(this)"/> <label for="test_1_2_5">Файлы с кодом на Python обычно имеют расширение .cs
 </label></li>
</ul>


       {% csrf_token %}
      <button id="btn-input" type="submit" name="run_script"
              class="btn btn-info" style="display: none">
          Проверить результаты</button>
     <script>
        var list = [];
        function updateButtonState(inpt){
         if(inpt){
            console.log(list.length);
            if(!list.includes(inpt.name)){
              list.push(inpt.name)
            }
           }

           let n =  document.getElementsByTagName("ul").length;
             if(list.length >= n){
               document.getElementById('btn-input').style.display = 'block';
               }
        }
    </script>
    </form>
</div>
<div class="div-state-res">
<div class="flex-item">
    {% if num != 1 %}
    <a href="{% url 'old_lessons' idlesson=num iduser=id namep=name%}" class="child">Предыдущий  урок</a>
    {% endif %}
</div>
<div class="flex-item-p">
    {% if isres == 1 %}
    <p>Вы отлично справились с заданием можно перейти к следующему уроку</p>
    {% elif isres == 2 %}
    <p>К сожалению есть неверные ответы, изучите материал и в следующий раз у вас все получится</p>
    {% endif %}
</div>
<div class="flex-item">
    {% if isres == 1 %}
    <a href="{% url 'new_lessons' idlesson=num iduser=id namep=name isres=5 %}" class="child">Сдедующий урок</a>
    {% endif %}
</div>
</div>
<!-- <a href="{% url 'new_lessons' idlesson=num iduser=id namep=name isres=0%}" class="child">Сдедующий урок</a>-->


{% endblock %}