{% extends 'base.html' %}
{% block title %}Урок №{{num}}{% endblock %}
{% include data_template %}

{% block content %}
<div class="div-state-res">
<div class="flex-item">
    {% if num != 1 %}
    <a href="{% url 'old_lessons' idlesson=num iduser=id namep=name %}" class="child">Предыдущий  урок</a>
    {% endif %}
</div>
<div class="flex-item-p">
    {% if isres == 1 %}
    <p>Вы отлично справились с заданием можно перейти к следующему уроку</p>
    {% elif isres == 2 %}
    <p>К сожалению есть неверные ответы, изучите материал и в следующий раз у вас все получится</p>
    {% endif %}
</div>
<div class="flex-item">
    {% if isres == 1 %}
    <a href="{% url 'new_lessons' idlesson=num iduser=id namep=name isres=0 %}" class="child">Сдедующий урок</a>
    {% endif %}
</div>
</div>

{% block contentln %}
{% endblock %}

<div class="div-state-res">
<div class="flex-item">
    {% if num != 1 %}
    <a href="{% url 'old_lessons' idlesson=num iduser=id namep=name %}" class="child">Предыдущий  урок</a>
    {% endif %}
</div>
<div class="flex-item-p">
    {% if isres == 1 %}
    <p>Вы отлично справились с заданием можно перейти к следующему уроку</p>
    {% elif isres == 2 %}
    <p>К сожалению есть неверные ответы, изучите материал и в следующий раз у вас все получится</p>
    {% endif %}
</div>
<div class="flex-item">
    {% if isres == 1 %}
    <a href="{% url 'new_lessons' idlesson=num iduser=id namep=name isres=0 %}" class="child">Сдедующий урок</a>
    {% endif %}
</div>
</div>
{% endblock %}
